################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/src/.vs
/src/PMA.Application/bin
/src/PMA.Application/obj
/src/PMA.Domain/bin
/src/PMA.Domain/obj
/src/PMA.Infrastructure/bin
/src/PMA.Infrastructure/obj
/src/PMA.Utils/bin
/src/PMA.Utils/obj
/src/PMA.WinForms/bin
/src/PMA.WinForms/obj
/src/PMA.Blazor/bin
/src/PMA.Blazor/obj
