<div class="d-flex justify-space-between align-center" style="width: 100%">
    <StartMorphAnalysisButtonComponent Class="mr-4" />
    <InputTextFieldComponent />
    <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-3 my-3" />
    <LayerSelectComponent />
    <MaxDepthLevelNumericFieldComponent Class="ml-2" />
    <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-3 my-3" />
    <AutoSymbolReplaceButtonComponent />
    <DarkModeButtonComponent @bind-DarkMode="DarkMode" />
    <MorphPropertyButtonComponent />
</div>
