<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="${basedir}/logs/internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File"
            name="applicationFile"
            fileName="${basedir}/logs/application.log"
            layout="${longdate}	${uppercase:${level}}	${logger}	${message}	${exception:format=tostring}"
            archiveFileName="${basedir}/Logs/application.log.BAK"
            archiveAboveSize="5000000"
            maxArchiveFiles="1"
            enableArchiveFileCompression="false" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="applicationFile" />
  </rules>
</nlog>